@media (min-width: 1000px) {
    .ourcarsoule{
        max-width: 84%;
        text-align: center;
        margin: 0 auto;
    }

}
@media (max-width: 1199px) {
    body {
        font-size: 1rem;
    }

    h4 {
        font-size: 3.5rem;
    }
    .mixi_portfolio_overlay .overflow_hover_text{
        padding: 100px 0px 0px 0px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }
    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    h4 {
        font-size: 1.225rem;
        line-height: 2rem;
    }

}
@media(min-width: 800px){
    .single_message_right_info ul{
        display: block;
    }
}

/* Landscape phones and portrait tablets */
@media(max-width: 768px) {
 
    html {
        font-size: 80%;
    }
 .jumbotron{
   padding-top: 80px; 

 }
 
    .navbar-default .navbar-collapse,.navbar-default {
        border-color: transparent;
        font-size: 16px;
        background-color: white;
        text-align: center;
    }
    .carousel .item img{
        height: 322px;
    }

    #head{
        font-size: 16px;
        font-weight: bold;
        width: 50%;
    }
    .single_message_right_info ul{
        margin: 0 auto; 
        display: block;
        width: 75%;
    }
    .copyright_text{
        text-align: center;
    }
    .footer_socail{ 
        text-align: center;
    }
    .counter {
        height: auto;
    }
    .overlay{
        height: auto;
    }
    .counter .main_counter{


    }

    .main_contact{
        padding: 80px 20px;
    }
	.home .owl-controls{
		margin-bottom:40px;
	}

}



/* Landscape phones and smaller */
@media(max-width: 479px) {
    html {
        font-size: 65%;
    }
    .form-control {
        margin-bottom: 10px;
    }


}



@media (min-width: 768px){
    form {
        width: 500px;
        margin-top: 40px;
    }
}

@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .form-control {
        margin-bottom: 10px;
    }

}